.context-menu {
    position: absolute;
    z-index: 20;
    display: flex;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 80px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}
.timeshow {
  position: absolute;
    z-index: 20;
    display: flex;
    text-align: center;
    border: 1px solid black;
    background-color: #55acee;
    border-color: green;
    font-weight: bold;
    color: black;
    
}

li.item {
    list-style: none;
    width: 100%;
    color: #1A1A1A;
    border: 1px solid #97B0F8;
    border-radius: 2px;
   text-align: center;
    font-weight: bolder;
    font-size: 13px;
}
li.item.ChuaSuaChua {
   background:#ffc107 ;
}
li.item.DangSuaChua {
   background:greenyellow ;
}
li.item.ChoSuaChua {
   background:magenta ;
}
li.item.DungGio:before {
    content: "[Đ]";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}
li.item.DenSom:before {
    content: "[S]";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}
li.item.SCC:after {
    content: "_SCC";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}
li.item.EM:after {
    content: "_EM";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}
li.item.EM60:after {
    content: "_EM60";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}