.context-menu {
  position: absolute;
  z-index: 20;
  display: flex;
  text-align: center;
  background: lightgray;
  border: 1px solid black;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 80px;
  list-style: none;
}

.context-menu ul li {
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid black;
}

.context-menu ul li a {
  text-decoration: none;
  color: black;
}

.context-menu ul li:hover {
  background: darkgray;
}
.timeshow {
position: absolute;
  z-index: 20;
  display: flex;
  text-align: center;
  border: 1px solid black;
  background-color: #55acee;
  border-color: green;
  font-weight: bold;
  color: black;
  
}

li.item {
  list-style: none;
  width: 100%;
  color: #1A1A1A;
  border: 1px solid #97B0F8;
  border-radius: 2px;
 text-align: center;
  font-weight: bolder;
  font-size: 10px;
}
li.item.ChuaSuaChua {
 background:#ffc107 ;
}
li.item.DangSuaChua {
 background:greenyellow ;
}
li.item.ChoSuaChua {
 background:magenta ;
}
li.item.DungGio:before {
  content: "[Ä]";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
 
}
li.item.DenSom:before {
  content: "[S]";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;

}
li.item.SCC:after {
  content: "_SCC";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  
}
li.item.EM:after {
  content: "_EM";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  
}
li.item.EM60:after {
  content: "_EM60";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  cursor: move;
}


body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  padding-left: 10px;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 10px;
  padding-left: 10px;
}
.checked {
  color: white;
}
  .unchecked {
  color: gray;
}
.CongDoan{
  color: blue;
}
.BigStar{color: white}

     
table.dataTable td{
    vertical-align: middle;
    }


.DangSuaChua{
   color: #00ff00;
}
.ChoSuaChua{
   color: yellow;
}
.ChuaSuaChua{
   color: pink;
}
.DungSuaChua{
   color: red;
}
table tbody {
   color: white;
}


      
table thead {background-color:#1155cc;
  font-size: 10px;}
  
  

   input:invalid {
  border-color: red;
}
input:valid {
  background: lightgreen;
}
select:valid {
  background: lightgreen;
}
  select:invalid {
  border-color: red;
}

input:invalid {
  border-color: red;
}
input:valid {
  background: lightgreen;
}
select:valid {
  background: lightgreen;
}
  select:invalid {
  border-color: red;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.DangTiepNhan{
   color: #00ff00;
}  
   .SapTiepNhan{
    color: #ff6d01;
   }
    .ChoTiepNhan{
    color: #3deedf;
   }
  .DangSuaChua{
    color: #00ff00;
   }
   .DaTiepNhan{
    color: #00bfff;
   }
   .DungCongViec{
    color: #ff4d4d;
   }
   .ChoSuaChua{
    color: #287aee;
   }
   .ChoGiaoXe{
    color: #FFE4C4;
   }
   .note1{  color: red;}
    .note2{  color: #bf00ff;}

  table.dataTable thead {background-color:#1155cc;
  font-size: 8px;}
  
  table.dataTable td{
    vertical-align: bottom;
     font-size: 14px;
    }
  #tablehen td:nth-child(0) {
        width: 10%;
        font-size: 14px;
  }
   #table-TimXe   td {
   font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1200 - 300)));
  vertical-align: middle;
  
  text-align: left  ;
   border: 1px solid black;
  border-bottom: 1px solid blue;
  margin: auto;
}
table thead {background-color:#1155cc;
  font-size: 10px;}
#table-TimXe .DangSuaChua{
   color: #00ff00;
}
#table-TimXe .ChoSuaChua{
   color: yellow;
}
#table-TimXe .ChuaSuaChua{
   color: gray;
}
#table-TimXe .DungSuaChua{
   color: red;
}
.DangRuaXe{
   color: #00ff00;
}  
   .ChoRuaXe{
    color: #ff6d01;
   }
 #tableRuaXe   td {
   font-size: 30px;
  vertical-align: middle;
  text-align: left  ;
   border: 1px solid black;
  border-bottom: 1px solid blue;
  margin: auto;
}
   #tableRuaXe td:nth-child(8) {
        width: 1%;
        font-size: 1px;
    } 
     #tableRuaXe td:nth-child(5) {
        width: 7%;
        font-size: 14px;
    } 
    #tableRuaXe td:nth-child(4) {
        width: 7%;
        font-size: 14px;
    } 
    #tableRuaXe td:nth-child(3) {
        width: 4%;
        font-size: 14px;
    } 
  #tableRuaXe td:nth-child(2) { 
        font-size: 50px;
    } 