.context-menu {
    position: absolute;
    z-index: 20;
    display: flex;
    text-align: center;
    background: lightgray;
    border: 1px solid black;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 80px;
    list-style: none;
}

.context-menu ul li {
    padding-bottom: 2px;
    padding-top: 2px;
    border: 1px solid black;
}

.context-menu ul li a {
    text-decoration: none;
    color: black;
}

.context-menu ul li:hover {
    background: darkgray;
}
.timeshow {
  position: absolute;
    z-index: 20;
    display: flex;
    text-align: center;
    border: 1px solid black;
    background-color: #55acee;
    border-color: green;
    font-weight: bold;
    color: black;
    
}

li.item {
    list-style: none;
    width: 100%;
    color: #1A1A1A;
    border: 1px solid #97B0F8;
    border-radius: 2px;
   text-align: center;
    font-weight: bolder;
    font-size: 10px;
}
li.item.ChuaSuaChua {
   background:#ffc107 ;
}
li.item.DangSuaChua {
   background:greenyellow ;
}
li.item.ChoSuaChua {
   background:magenta ;
}
li.item.DungGio:before {
    content: "[Ä]";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 10px;
   
}
li.item.DenSom:before {
    content: "[S]";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 10px;
  
}
li.item.SCC:after {
    content: "_SCC";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 10px;
    
}
li.item.EM:after {
    content: "_EM";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 10px;
    
}
li.item.EM60:after {
    content: "_EM60";
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: 10px;
    cursor: move;
}


.vis-item.orange {
background-color: gold;
border-color: orange;
}
.vis-item.green.vis-selected  {
    background-color: #7f3b88;
    color: #00ff00 ;
    border-color: #9d9b95;
    z-index: 2;
    }
.vis-item.orange.vis-selected  {
background-color: #7f3b88;
color: #00ff00 ;
border-color: #9d9b95;
z-index: 2;
    }
    .vis-today{
      
      border-color: rgb(0, 4, 245);
      border-collapse: collapse;
    }
    .vis-panel.vis-time-axis {
      font-size: 8px;
      color: #00ff00;
      position: relative;
    }
    .vis-item.vis-selected  {
background-color: #7f3b88;
color: #00ff00 ;
border-color: #9d9b95;
z-index: 2;
}
.vis-item.green {
background-color: greenyellow;
border-color: green;
font-weight: bold;
color: black;
}

.vis-labelset .vis-label {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    box-sizing: border-box;
    }
.vis-timeline {
    border: 1px solid;
    font-family:  purisa, 'comic sans', cursive;
    font-size: 7pt;
    background-color:  #f8f9ff;

    font-weight: bold;
    color :whitesmoke;
}
    .vis-item {
      border-color: #F991A3;
      font-family: Arial, sans-serif;
      background-color: pink;
      font-size: 10pt;
      box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
    }
 
   
 
 .vis-item.red {
 background-color: red;
  border-color: darkred;
  color: white;
  }
  .vis-sunday{
   background-color: rgba(255, 0, 0, 0.281);
  }
  .vis-item.blue {
   background-color: rgb(25, 0, 255);
    border-color: darkred;
    color: white;
    }
 

 
 .vis-h12{
   background-color: rgb(240, 221, 240);
 } 
 .vis-item.magenta {
  background-color: magenta;
  border-color: purple;
  color: white;
 }
  .vis-item.orange {
  background-color: #ffd966;
  border-color: orange;
  color: black;
  font-weight: bold;
 }
 .vis-time-axis .vis-text {
    position: absolute;
    color: white;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
 }
 
 
 
 @media only screen and (max-width: 600px) {
   .vis-panel>.vis-content {
     font-size: 8px;
     position: relative;
   }
   .vis-item {
     border-color: #F991A3;
     font-family: Arial, sans-serif;
     background-color: pink;
     font-size: 7pt;
     
   }
 }
 @media only screen and (min-width: 2600px) {
   .vis-panel>.vis-content {
     font-size: 13px;
     position: relative;
   }
   .vis-item {
     border-color: #F991A3;
     font-family: Arial, sans-serif;
     background-color: pink;
     font-size: 13pt;
     
   }
 }