.context-menu {
  position: absolute;
  z-index: 20;
  display: flex;
  text-align: center;
  background: lightgray;
  border: 1px solid black;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 80px;
  list-style: none;
}

.context-menu ul li {
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid black;
}

.context-menu ul li a {
  text-decoration: none;
  color: black;
}

.context-menu ul li:hover {
  background: darkgray;
}

.timeshow {
  position: absolute;
  z-index: 20;
  display: flex;
  text-align: center;
  font-weight: bold;
  color: black;

}




.btn.DungGio:before {
  content: "[Đ]";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;

}

.btn.Datiepnhan {
  color: black;
}

.btn.DenSom:before {
  content: "[S]";
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;

}

h2::before {
  counter-increment: section;
  content: "Section " counter(section) ": ";
}


.btn {
  border: 1px black solid;
  padding: 2px 5pt;
}

.btn.SCC:after {
  content: "_S";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 1px;
}

.btn.EM:after {
  content: "_E";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
}

.btn.Đồng:after {
  content: "_Đ";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}

.btn.Nền:after {
  content: "_N";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}

.btn.Sơn:after {
  content: "_S";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}

.btn.Lắp:after {
  content: "_L";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}





.btn.Pass:after {
  content: "_P";
  list-style-type: circle;
  font-family: Arial, sans-serif;
  display: inline-block;
  font-size: 10px;
  font-weight: bolder;
}

.btn.EM60:after {
  content: "_E";
  font-family: Arial, sans-serif;
  display: inline-block;
}




.checked {
  color: white;
}

.unchecked {
  color: gray;
}

.CongDoan {
  color: blue;
}

.BigStar {
  color: white
}


table.dataTable td {
  vertical-align: middle;
}


.DangSuaChua {
  color: #00ff00;
}

.ChoSuaChua {
  color: yellow;
}

.ChuaSuaChua {
  color: pink;
}

.DungSuaChua {
  color: red;
}







input:invalid {
  border-color: red;
}


.inputdate {
  background: none;
  border-color: white;
}

select:valid {
  background: lightgreen;
}

select:invalid {
  border-color: red;
}

input:invalid {
  border-color: red;
}



select:valid {
  background: lightgreen;
}

select:invalid {
  border-color: red;
}

.btn-group-xs>.btn,
.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.DangTiepNhan {
  color: #00ff00;
}

.SapTiepNhan {
  color: #ff6d01;
}

.ChoTiepNhan {
  color: #3deedf;
}

.DangSuaChua {
  color: #00ff00;
}

.DaTiepNhan {
  color: #00bfff;
}

.DungCongViec {
  color: #ff4d4d;
}

.ChoSuaChua {
  color: #287aee;
}

.ChoGiaoXe {
  color: #FFE4C4;
}

.note1 {
  color: red;
}

.note2 {
  color: #bf00ff;
}




@media (min-width: 2160px) {
  #TabChoSC {
    display: none;
  }

  #TabDungCV {
    display: none;
  }

  #mytimeline {
    width: 100%;
  }

}

@media (max-width: 840px) {
  #TabChoSC {
    display: none;
  }

  #TabDungCV {
    display: none;
  }

  #mytimeline {
    width: 100%;
  }

}