.vis-item.orange {
  background-color: gold;
  border-color: orange;
}

.vis-item.green.vis-selected {
  background-color: chocolate;
  color: rgb(3, 3, 3);
  border-color: rgb(157, 155, 149);
  z-index: 2;
}

.vis-item.orange.vis-selected {
  background-color: chocolate;
  color: black;
  border-color: rgb(157, 155, 149);
  z-index: 2;
}



.vis-panel.vis-time-axis {
  font-size: 8px;
  color: rgb(0, 255, 0);
  position: relative;
}

.vis-item .vis-item-overflow {
  overflow: hidden;
}

.vis-item.vis-selected {
  padding-left: 15px;
  background-color: darkgreen;
  color: rgb(0, 255, 0);
  border-color: rgb(157, 155, 149);
  z-index: 2;
  overflow: hidden;
}

.vis-item.green {
  background-color: greenyellow;
  border-color: green;
  font-weight: bold;
  color: black;
}

.vis-labelset .vis-label {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  color: rgb(10, 10, 10);
  box-sizing: border-box;
  min-height: 32.5px;
}

.vis-timeline {
  border: 1px solid black;
  font-family: purisa, "comic sans", cursive;
  font-size: 7pt;
  background-color: rgb(248, 249, 255);
  font-weight: bold;
  color: whitesmoke;
}

.vis-item {
  border-color: black;
  font-family: Arial, sans-serif;
  background-color: orange;
  font-size: 10pt;
  box-shadow: rgba(128, 128, 128, 0.5) 5px 5px 20px;
}

/* .vis-drag-right::before {
  padding-top: 5px;
  padding-left: 10px;
  font-family: "Font Awesome 5 Free";
  content: "";
  display: inline-flex;
  position: absolute;
  text-align: center;
}

.vis-drag-left::after {
  padding-left: 3px;
  padding-top: 5px;
  font-family: "Font Awesome 5 Free";
  content: " ";
  display: inline-flex;
  position: absolute;
  vertical-align: middle;
} */

.vis-item.vis-range .vis-drag-left {
  position: absolute;
  cursor: e-resize;
  /* border: 1px solid black; */

}

.vis-item.vis-range .vis-drag-right {
  position: absolute;
  cursor: e-resize;
  /* border: 1px solid black; */

}

.vis-item.red {
  background-color: red;
  border-color: darkred;
  color: white;
}

.vis-sunday {
  background-color: rgba(255, 0, 0, 0.282);
}

.vis-item.blue {
  background-color: rgb(25, 0, 255);
  border-color: darkred;
  color: white;
}

.vis-h12 {
  background-color: rgb(235, 115, 205);
}

.vis-item.magenta {
  background-color: magenta;
  border-color: purple;
  color: white;
}

.vis-time-axis .vis-grid.vis-minor {
  border-color: rgb(241, 241, 241);
}

.vis-item.orange {
  background-color: rgb(255, 217, 102);
  border-color: orange;
  color: black;
  font-weight: bold;
}



.vis-time-axis .vis-text {
  position: absolute;
  color: rgb(10, 10, 10);
  padding: 3px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 8px;
}

.vis-foreground .vis-group {
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(191, 191, 191);
  min-height: 32.5px;
}

.vis-foreground .vis-group.EM {
  min-height: 218px;
}

.vis-foreground .vis-group.SCC {
  min-height: 144px;
}

.vis-foreground .vis-group.Đồng {
  min-height: 72px;
}

.vis-foreground .vis-group.Báo {
  min-height: 72px;
}

.vis-labelset .vis-label.EM {
  min-height: 218px;
}

.vis-labelset .vis-label.SCC {
  min-height: 144px;
}

.vis-labelset .vis-label.Đồng {
  min-height: 72px;
}

.vis-labelset .vis-label.Báo {
  min-height: 72px;
}

@media only screen and (max-width: 600px) {
  .vis-foreground .vis-group.EM {
    max-height: 161.85px;
  }

  .vis-foreground .vis-group.SCC {
    max-height: 107.9px;
  }

  .vis-foreground .vis-group.Đồng {
    max-height: 53.95px;
  }

  .vis-foreground .vis-group.Báo {
    max-height: 53.95px;
  }

  .vis-labelset .vis-label.EM {
    max-height: 161.85px;
  }

  .vis-labelset .vis-label.SCC {
    max-height: 107.9px;
  }

  .vis-labelset .vis-label.Đồng {
    max-height: 53.95px;
  }

  .vis-labelset .vis-label.Báo {
    max-height: 53.95px;
  }

  .vis-panel>.vis-content {
    font-size: 8px;
    position: relative;
  }

  .vis-item {
    border-color: rgb(249, 145, 163);
    font-family: Arial, sans-serif;
    background-color: pink;
    font-size: 7pt;
  }
}

@media only screen and (min-width: 2600px) {
  .vis-panel>.vis-content {
    font-size: 13px;
    position: relative;
  }

  .vis-item {
    border-color: rgb(249, 145, 163);
    font-family: Arial, sans-serif;
    background-color: pink;
    font-size: 13pt;
  }
}